@media (min-width: 992px) {
  .dropdown__item:hover, .testimonials__more:hover, .standart-btn_white:hover, .header-services__item > span:hover i, .header-services__item > span:hover, .nav__item:hover, .header__tel:hover, .header__email:hover {
    color: #000;
  }
  .header-socials__item:hover {
    background-color: #646464;
    color: #fff;
  }
  .standart-btn:hover {
    background-color: #ffc000;
  }
  .standart-btn_white:hover {
    border-color: #ffc000;
  }
  .popular-item:hover {
    box-shadow: 0px 0px 16px 0px rgba(93, 4, 0, 0.2);
  }
  .popular-item:hover .popular-item__img {
    transform: scale(1.05);
  }
  .contacts-clickable:hover .contacts__address {
    color: #000;
  }
  .contacts-clickable:hover .contacts__city {
    color: #929292;
  }
  .contacts-clickable:hover .contacts__city::before, .contacts-clickable:hover .contacts__city::after {
    background-color: #929292;
  }
  .contacts__tel:hover {
    color: #646464;
  }
  .address__item:hover,
  .footer-nav__item:hover {
    color: #fff;
  }
  .testimonials-slider .slick-arrow:hover {
    background-color: #8c8c8c;
    color: #fff;
  }
  .specialists-slider__button:hover {
    background-color: #8c8c8c;
    color: #fff;
  }
  .services-item a:hover span {
    color: #d1b100;
  }
  .specialists-tabs__item:hover {
    color: #929292;
  }
  .specialists-tabs__item:hover::after {
    background-color: #929292;
  }
  .specialists-tabs__item:hover::before {
    background-color: #929292;
  }
}

@media (max-width: 1479px) {
  .header-services {
    width: calc(100% - 33.333vw);
  }
  .header-services__item i:first-child {
    display: none;
  }
  .header-socials {
    margin-left: 30px;
  }
  .header-socials__item_email {
    display: flex;
  }
  .header__email {
    display: none;
  }
  .header__tel {
    margin-left: auto;
  }
  .header__logo img {
    width: 170px;
    margin-bottom: 0;
  }
  .header__logo p {
    display: none;
  }
  .header__btn {
    width: 160px;
  }
  .dropdown-parent:nth-of-type(2) .dropdown-content {
    margin-left: -168px;
  }
  .dropdown-content {
    margin-top: 36px;
  }
}

@media (max-width: 1199px) {
  .header-services {
    width: calc(100% - 38vw);
  }
  .header-services__item > span {
    font-size: 12px;
  }
  .dropdown-parent:nth-of-type(2) .dropdown-content {
    margin-left: -299px;
  }
  .main-slider {
    margin-bottom: 80px;
  }
  .features {
    margin-bottom: 90px;
    margin-top: -35px;
  }
  .features-item {
    margin-top: 35px;
  }
  .symbol {
    height: 150px;
  }
  .symbol__text {
    font-size: 40px;
  }
  .symbol__text:first-of-type {
    margin-top: -8px;
  }
  .symbol__img {
    width: 200px;
  }
  .popular-item {
    height: 330px;
  }
  .footer-nav {
    width: 260px;
  }
  .address {
    width: 350px;
  }
  .specialists-item.current + .specialists-item {
    max-height: 50%;
    max-width: 150px;
    width: 300px;
  }
  .specialists-item.current + .specialists-item .specialists__img {
    max-width: 150px;
  }
  .specialists-item.current + .specialists-item + .specialists-item {
    transform: translateX(840px);
    max-height: 30%;
    max-width: 90px;
    width: 150px;
  }
  .specialists-item.current + .specialists-item + .specialists-item .specialists__img {
    max-width: 90px;
  }
  .specialists-item.current + .specialists-item + .specialists-item + .specialists-item {
    transform: translateX(930px);
    max-height: 30%;
    max-width: 90px;
    width: 150px;
  }
  .specialists-item.current + .specialists-item + .specialists-item + .specialists-item .specialists__img {
    max-width: 90px;
  }
}

@media (max-width: 991px) {
  .title-l_big {
    font-size: 48px;
    line-height: 60px;
  }
  .header-top {
    max-width: 768px;
  }
  .header-bottom {
    max-width: 768px;
  }
  .header-socials {
    margin-left: 0;
  }
  .header__logo img {
    width: 180px;
  }
  .header__btn {
    width: 200px;
  }
  .nav {
    margin-left: 0;
  }
  .symbol {
    height: 175px;
  }
  .symbol__text {
    font-size: 48px;
  }
  .symbol__text:first-of-type {
    margin-top: -9px;
  }
  .symbol__img {
    width: 240px;
  }
  .about__text {
    margin-bottom: 60px;
  }
  .popular {
    margin-bottom: 100px;
  }
  .popular-item-container:nth-of-type(n + 7) {
    display: none;
  }
  .promo {
    height: 680px;
    margin-bottom: 90px;
  }
  .promo__img {
    max-width: 350px;
    max-height: 255px;
    margin-bottom: 30px;
  }
  .promo__title {
    text-align: center;
  }
  .promo__title + p {
    text-align: center;
  }
  .promo__btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .testimonials-slider {
    margin-bottom: 170px;
  }
  .testimonials-item {
    height: 250px;
  }
  .testimonials-text {
    padding: 0 40px;
  }
  .contacts__city {
    font-size: 28px;
  }
  .footer {
    height: 165px;
    padding: 30px 0;
  }
  .footer__logo {
    width: 280px;
  }
  .footer-nav {
    width: 350px;
  }
  .address {
    width: 100%;
    order: 1;
  }
  .address-half {
    display: flex;
  }
  .address__item + .address__item {
    margin-top: 0;
    margin-left: 40px;
  }
  .services__name {
    width: 45%;
  }
  .services-numbers {
    width: 55%;
  }
  .service {
    margin-bottom: 110px;
  }
  .specialists {
    margin-bottom: 110px;
  }
  .specialists-item {
    width: 100%;
    max-width: 100%;
  }
  .specialists-item.current + .specialists-item {
    max-height: 100%;
    opacity: 0;
  }
  .specialists-info {
    width: 390px;
  }
}

@media (max-width: 767px) {
  .title-l {
    font-size: 40px;
    line-height: 48px;
  }
  .title-l_big {
    font-size: 32px;
    line-height: 36px;
  }
  .header {
    margin-bottom: 6px;
  }
  .header::before {
    top: 58px;
  }
  .header::after {
    top: 63px;
  }
  .header__logo img {
    width: 150px;
  }
  .header-top {
    position: absolute;
    top: 64px;
    z-index: 2;
    background-color: #fff;
    flex-direction: column;
    height: calc(100vh - 64px);
    max-height: 0;
    width: 100%;
    padding: 0 15px;
    transform-origin: top;
    overflow: auto;
    transition: max-height .3s ease-in, padding .3s ease-in, padding-top .6s ease-in;
  }
  .header-bottom {
    height: 58px;
  }
  .header__tel {
    margin-left: 0;
    line-height: 1;
    margin-top: 60px;
    font-size: 18px;
  }
  .header__tel i {
    font-size: 16px;
  }
  .header__btn {
    width: 330px;
    margin-top: 20px;
    flex-shrink: 0;
  }
  .header-socials {
    margin-top: 20px;
  }
  .nav {
    width: 100%;
    margin-bottom: auto;
  }
  .nav-ul {
    flex-direction: column;
  }
  .nav__li + .nav__li {
    margin-top: 30px;
  }
  .nav__item {
    font-size: 18px;
    font-weight: 700;
  }
  .main-slider {
    height: 520px;
    margin-bottom: 60px;
  }
  .main-slider__item {
    height: 520px;
  }
  .features {
    margin-bottom: 70px;
    margin-top: -15px;
  }
  .features-item {
    margin-top: 15px;
  }
  .about {
    margin-bottom: 85px;
  }
  .about__title {
    margin-bottom: 30px;
  }
  .about__text {
    margin-bottom: 40px;
  }
  .symbol {
    height: 150px;
  }
  .symbol__text {
    font-size: 38px;
  }
  .symbol__text:first-of-type {
    margin-top: -7px;
  }
  .symbol__img {
    width: 190px;
  }
  .promo {
    height: 580px;
  }
  .promo__img {
    max-width: 280px;
    max-height: 235px;
  }
  .promo__title {
    font-size: 24px;
    line-height: 30px;
  }
  .promo__title + p {
    font-size: 14px;
  }
  .testimonials-slider {
    margin-bottom: 150px;
  }
  .testimonials__quotes {
    display: none;
  }
  .testimonials-item {
    flex-direction: column;
    height: 465px;
  }
  .testimonials__img {
    height: 190px;
    width: 100%;
  }
  .testimonials-text {
    width: 100%;
    height: calc(100% - 190px);
    padding: 20px 30px 30px;
  }
  .testimonials-text p {
    max-height: 144px;
  }
  .contacts-item {
    display: none;
  }
  .contacts-item.current {
    display: flex;
  }
  .contacts__city {
    font-size: 20px;
    margin-bottom: 25px;
    padding-bottom: 5px;
  }
  .contacts__title {
    margin-bottom: 30px;
  }
  .contacts__map {
    height: 425px;
    margin-top: 30px;
  }
  .footer {
    height: 285px;
    padding: 40px 0;
  }
  .footer__logo {
    width: 330px;
  }
  .footer-nav {
    order: 2;
    width: 100%;
  }
  .address-half {
    display: block;
    max-width: calc(50% - 15px);
  }
  .address__item {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .address__item + .address__item {
    margin-left: 0px;
    margin-top: 10px;
  }
  .breadcrumbs-substrate__img {
    height: 450px;
  }
  .services-container {
    margin-bottom: 80px;
  }
  .services__subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .services__subtitle::after {
    display: none;
  }
  .services__subtitle + .services-list {
    max-height: 0;
    padding-top: 0;
    overflow: hidden;
    transition: max-height .3s ease-out, padding .3s ease-in;
  }
  .services__subtitle i {
    transition: transform .3s;
  }
  .services__subtitle.show i {
    transform: rotate(-180deg);
  }
  .services__subtitle.show + .services-list {
    transition: max-height .3s ease-in, padding .3s ease-in;
    max-height: 1000px;
    padding-top: 10px;
  }
  .services__img {
    height: 450px;
    margin-bottom: 20px;
  }
  .services__name {
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 45%;
    padding-right: 0;
  }
  .services-numbers {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
    width: 45%;
  }
  .services__time {
    font-size: 14px;
    text-align: right;
  }
  .services__price {
    font-size: 14px;
    text-align: right;
    padding-left: 0;
  }
  .seo {
    padding-bottom: 70px;
  }
  .specialists__title {
    margin-bottom: 0;
  }
  .specialists-slider.current {
    height: 580px;
  }
  .specialists-slider-nav {
    left: 50%;
    transform: translateX(-50%);
  }
  .specialists-item {
    flex-direction: column;
    align-items: center;
  }
  .specialists-item.current + .specialists-item {
    max-width: none;
    width: 100%;
  }
  .specialists-item.current + .specialists-item .specialists__img {
    max-width: none;
  }
  .specialists-item.prev {
    max-width: none;
    width: 100%;
  }
  .specialists-item.prev .specialists__img {
    max-width: none;
  }
  .specialists__img {
    height: 230px;
    width: 330px;
    background-position: 50% 30%;
  }
  .specialists-info {
    padding: 20px 0 0;
    width: 100%;
  }
  .specialists__name {
    font-size: 28px;
    margin-bottom: 26px;
  }
  .specialists__specialization {
    font-size: 18px;
    line-height: 24px;
    max-height: 48px;
  }
  .specialists__expirience {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .specialists__education {
    font-size: 14px;
  }
  .specialists__education p {
    font-size: 16px;
    line-height: 24px;
    max-height: 48px;
    height: auto;
    margin-top: 2px;
  }
  .specialists__education + .specialists__education {
    margin-top: 14px;
  }
  .specialists-tabs {
    height: 63px;
    max-height: 63px;
    overflow: visible;
    position: relative;
  }
  .specialists-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 7;
    width: 100%;
    border: 1px solid transparent;
    padding: 30px 0px 0;
    max-height: 63px;
    overflow: hidden;
    transition: max-height .3s, padding .6s, border .15s, background-color .15s;
    transition-delay: 0s, 0s, .15s, .15s;
  }
  .specialists-dropdown__current {
    font-size: 18px;
    line-height: 30px;
    border-bottom: 1px solid #8c8c8c;
    color: #141414;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .specialists-dropdown__current .icon-dropdown {
    transition: transform .3s;
  }
  .specialists-dropdown.show {
    max-height: 500px;
    padding: 30px 15px 15px;
    border: 1px solid #8c8c8c;
    background-color: #fff;
    transition-delay: 0s;
  }
  .specialists-dropdown.show .icon-dropdown {
    transform: rotate(-180deg);
  }
  .specialists-dropdown__item {
    font-size: 18px;
    line-height: 48px;
    color: #646464;
  }
  .specialists-dropdown__item.current i {
    display: block;
  }
  .specialists-dropdown__item i {
    font-size: 9px;
    display: none;
  }
}

@media (max-width: 575px) {
  .about {
    margin-bottom: 65px;
  }
  .symbol {
    height: 100px;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
  .symbol__text {
    font-size: 24px;
  }
  .symbol__text:first-of-type {
    margin-top: -5px;
  }
  .symbol__text:last-of-type {
    margin-bottom: -2px;
  }
  .symbol__img {
    width: 130px;
  }
  .popular {
    margin-bottom: 80px;
  }
  .popular__title {
    margin-bottom: 30px;
  }
  .popular-item {
    height: 65vw;
  }
  .popular-item__title {
    font-size: 12px;
  }
}
