@media (min-width: 992px) {
  .modal-dropdown__item:hover span, .modal__politics a:hover, .dropdown__item:hover, .testimonials__more:hover, .standart-btn_white:hover, .header-services__item > span:hover i, .header-services__item > span:hover, .nav__item:hover, .header__tel:hover, .header__email:hover {
    color: #000;
  }
  .modal-dropdown__item:hover {
    background-color: #ebebeb;
  }
  .header-socials__item:hover {
    background-color: #646464;
    color: #fff;
  }
  .standart-btn:hover {
    background-color: #ffc000;
  }
  .standart-btn_white:hover {
    border-color: #ffc000;
  }
  .popular-item:hover {
    box-shadow: 0px 0px 16px 0px rgba(93, 4, 0, 0.2);
  }
  .popular-item:hover .popular-item__img {
    transform: scale(1.05);
  }
  .contacts-clickable:hover .contacts__address {
    color: #000;
  }
  .contacts-clickable:hover .contacts__city {
    color: #929292;
  }
  .contacts-clickable:hover .contacts__city::before, .contacts-clickable:hover .contacts__city::after {
    background-color: #929292;
  }
  .contacts__tel:hover,
  .salons-address__item a:hover {
    color: #646464;
  }
  .address__item:hover,
  .footer-nav__item:hover {
    color: #fff;
  }
  .testimonials-slider .slick-arrow:hover {
    background-color: #8c8c8c;
    color: #fff;
  }
  .specialists-slider__button:hover {
    background-color: #8c8c8c;
    color: #fff;
  }
  .services-item a:hover span {
    color: #d1b100;
  }
  .specialists-tabs__item:hover,
  .salons-tabs__item:hover,
  .bonuses-tabs__item:hover {
    color: #929292;
  }
  .specialists-tabs__item:hover::after,
  .salons-tabs__item:hover::after,
  .bonuses-tabs__item:hover::after {
    background-color: #929292;
  }
  .specialists-tabs__item:hover::before,
  .salons-tabs__item:hover::before,
  .bonuses-tabs__item:hover::before {
    background-color: #929292;
  }
  .blog-item:hover {
    box-shadow: 0px 0px 16px 0px rgba(93, 4, 0, 0.2);
  }
  .blog-open-nav a:hover button {
    background-color: #8c8c8c;
    color: #fff;
  }
  .blog-open-nav a:hover p {
    color: #8c8c8c;
  }
  .modal-close:hover {
    transform: rotate(90deg);
  }
  .modal-close:hover::before, .modal-close:hover::after {
    background-color: #000;
  }
  .input-file label:hover .input-file__btn {
    background-color: #8c8c8c;
  }
  .input-file label:hover .input-file__btn::after, .input-file label:hover .input-file__btn::before {
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  .input-file label.file:hover .input-file__btn {
    background-color: transparent;
  }
  .input-file label.file:hover .input-file__btn::after, .input-file label.file:hover .input-file__btn::before {
    background-color: transparent;
  }
}

@media (max-width: 1479px) {
  .header-services {
    width: calc(100% - 33.333vw);
  }
  .header-services__item i:first-child {
    display: none;
  }
  .header-socials {
    margin-left: 30px;
  }
  .header-socials__item_email {
    display: flex;
  }
  .header__email {
    display: none;
  }
  .header__tel {
    margin-left: auto;
  }
  .header__logo img {
    width: 170px;
    margin-bottom: 0;
  }
  .header__logo p {
    display: none;
  }
  .header__btn {
    width: 160px;
  }
  .dropdown-parent:nth-of-type(2) .dropdown-content {
    margin-left: -168px;
  }
  .dropdown-content {
    margin-top: 36px;
  }
}

@media (max-width: 1199px) {
  .header-services {
    width: calc(100% - 38vw);
  }
  .header-services__item > span {
    font-size: 12px;
  }
  .dropdown-parent:nth-of-type(2) .dropdown-content {
    margin-left: -299px;
  }
  .main-slider {
    margin-bottom: 80px;
  }
  .features {
    margin-bottom: 90px;
    margin-top: -35px;
  }
  .features-item {
    margin-top: 35px;
  }
  .symbol {
    height: 150px;
  }
  .symbol__text {
    font-size: 40px;
  }
  .symbol__text:first-of-type {
    margin-top: -8px;
  }
  .symbol__img {
    width: 200px;
  }
  .popular-item {
    height: 330px;
  }
  .footer-nav {
    width: 260px;
  }
  .address {
    width: 350px;
  }
  .specialists-tabs__item {
    width: 30%;
  }
  .specialists-item.current + .specialists-item {
    max-height: 50%;
    max-width: 150px;
    width: 300px;
  }
  .specialists-item.current + .specialists-item .specialists__img {
    max-width: 150px;
  }
  .specialists-item.current + .specialists-item + .specialists-item {
    transform: translateX(840px);
    max-height: 30%;
    max-width: 90px;
    width: 150px;
  }
  .specialists-item.current + .specialists-item + .specialists-item .specialists__img {
    max-width: 90px;
  }
  .specialists-item.current + .specialists-item + .specialists-item + .specialists-item {
    transform: translateX(930px);
    max-height: 30%;
    max-width: 90px;
    width: 150px;
  }
  .specialists-item.current + .specialists-item + .specialists-item + .specialists-item .specialists__img {
    max-width: 90px;
  }
  .salons-tabs__item {
    width: 30%;
  }
  .work {
    height: 680px;
  }
  .work .container {
    height: auto;
  }
  .work .row {
    height: auto;
  }
  .work__img {
    position: relative;
    height: 320px;
    margin-bottom: 40px;
  }
  .work .border {
    position: absolute;
    height: 1px;
    width: 10000px;
    background-color: #a5a5a5;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
  }
  .work p {
    text-align: center;
  }
  .bonuses__subtitle {
    font-size: 40px;
    line-height: 52px;
  }
  .promotion-item {
    height: 375px;
  }
}

@media (max-width: 991px) {
  .title-l_big {
    font-size: 48px;
    line-height: 60px;
  }
  .header-top {
    max-width: 768px;
  }
  .header-bottom {
    max-width: 768px;
  }
  .header-socials {
    margin-left: 0;
  }
  .header__logo img {
    width: 180px;
  }
  .header__btn {
    width: 200px;
  }
  .nav {
    margin-left: 0;
  }
  .symbol {
    height: 175px;
  }
  .symbol__text {
    font-size: 48px;
  }
  .symbol__text:first-of-type {
    margin-top: -9px;
  }
  .symbol__img {
    width: 240px;
  }
  .about__text {
    margin-bottom: 60px;
  }
  .popular {
    margin-bottom: 100px;
  }
  .popular-item-container:nth-of-type(n + 7) {
    display: none;
  }
  .promo {
    height: 680px;
    margin-bottom: 90px;
  }
  .promo__img {
    max-width: 350px;
    max-height: 255px;
    margin-bottom: 30px;
  }
  .promo__title {
    text-align: center;
  }
  .promo__title + p {
    text-align: center;
  }
  .promo__btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .testimonials-slider {
    margin-bottom: 170px;
  }
  .testimonials-item {
    height: 250px;
  }
  .testimonials-text {
    padding: 0 40px;
  }
  .contacts__city {
    font-size: 28px;
  }
  .footer {
    height: 165px;
    padding: 30px 0;
  }
  .footer__logo {
    width: 280px;
  }
  .footer-nav {
    width: 350px;
  }
  .address {
    width: 100%;
    order: 1;
  }
  .address-half {
    display: flex;
  }
  .address__item + .address__item {
    margin-top: 0;
    margin-left: 40px;
  }
  .services__name {
    width: 45%;
  }
  .services-numbers {
    width: 55%;
  }
  .service {
    margin-bottom: 110px;
  }
  .specialists {
    margin-bottom: 110px;
  }
  .specialists-item {
    width: 100%;
    max-width: 100%;
  }
  .specialists-item.current + .specialists-item {
    max-height: 100%;
    opacity: 0;
  }
  .specialists-info {
    width: 390px;
  }
  .salons {
    margin-bottom: 0;
    border-bottom: 1px solid #fff;
  }
  .salons-tabs__item {
    font-size: 26px;
  }
  .salons-address__item:first-of-type {
    width: 210px;
  }
  .salons-address__item:last-of-type {
    width: 210px;
    padding-left: 80px;
  }
  .work {
    margin-bottom: 0;
  }
  .work__img {
    max-width: none;
    max-height: none;
    margin-bottom: 40px;
  }
  .testimonials-page {
    margin-bottom: 160px;
  }
  .testimonials-page__title {
    font-size: 48px;
    line-height: 52px;
  }
  .testimonials-page-text p {
    font-size: 18px;
  }
  .testimonials-page__btn {
    width: 100%;
  }
  .testimonials-container {
    padding-bottom: 100px;
  }
  .blog {
    padding-bottom: 120px;
  }
  .blog-container {
    margin: 0 0 -30px 0;
  }
  .blog-item {
    width: 100%;
    margin: 0 0 30px 0;
  }
  .blog-open {
    padding-bottom: 110px;
  }
  .blog-open__title {
    font-size: 20px;
    line-height: 24px;
  }
  .blog-open-nav p {
    max-width: 240px;
  }
  .bonuses-container {
    padding-bottom: 100px;
  }
  .bonuses__subtitle {
    font-size: 32px;
    line-height: 40px;
  }
  .promotion-item {
    height: 280px;
  }
}

@media (max-width: 767px) {
  .title-l {
    font-size: 40px;
    line-height: 48px;
  }
  .title-l_big {
    font-size: 32px;
    line-height: 36px;
  }
  .breadcrumbs_high {
    height: 80px;
    padding: 15px 0;
  }
  .header {
    padding-bottom: 6px;
  }
  .header.border-bottom {
    border-bottom: none;
  }
  .header::before {
    top: 58px;
  }
  .header::after {
    top: 63px;
  }
  .header__logo img {
    width: 150px;
  }
  .header-top {
    position: absolute;
    top: 64px;
    z-index: 10;
    background-color: #fff;
    flex-direction: column;
    height: calc(100vh - 64px);
    max-height: 0;
    width: 100%;
    padding: 0 15px;
    transform-origin: top;
    overflow: auto;
    transition: max-height .3s ease-in, padding .3s ease-in, padding-top .6s ease-in;
  }
  .header-bottom {
    height: 58px;
  }
  .header__tel {
    margin-left: 0;
    line-height: 1;
    margin-top: 60px;
    font-size: 18px;
  }
  .header__tel i {
    font-size: 16px;
  }
  .header__btn {
    width: 330px;
    margin-top: 20px;
    flex-shrink: 0;
  }
  .header-socials {
    margin-top: 20px;
  }
  .nav {
    width: 100%;
    margin-bottom: auto;
  }
  .nav-ul {
    flex-direction: column;
  }
  .nav__li + .nav__li {
    margin-top: 30px;
  }
  .nav__item {
    font-size: 18px;
    font-weight: 700;
  }
  .main-slider {
    height: 520px;
    margin-bottom: 60px;
  }
  .main-slider__item {
    height: 520px;
  }
  .features {
    margin-bottom: 70px;
    margin-top: -15px;
  }
  .features-item {
    margin-top: 15px;
  }
  .about {
    margin-bottom: 85px;
  }
  .about__title {
    margin-bottom: 30px;
  }
  .about__text {
    margin-bottom: 40px;
  }
  .symbol {
    height: 150px;
  }
  .symbol__text {
    font-size: 38px;
  }
  .symbol__text:first-of-type {
    margin-top: -7px;
  }
  .symbol__img {
    width: 190px;
  }
  .promo {
    height: 580px;
  }
  .promo__img {
    max-width: 280px;
    max-height: 235px;
  }
  .promo__title {
    font-size: 24px;
    line-height: 30px;
  }
  .promo__title + p {
    font-size: 14px;
  }
  .testimonials-slider {
    margin-bottom: 150px;
  }
  .testimonials__quotes {
    display: none;
  }
  .testimonials-item {
    flex-direction: column;
    height: 465px;
  }
  .testimonials__img {
    height: 190px;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #d1d1d1;
  }
  .testimonials-text {
    width: 100%;
    height: calc(100% - 190px);
    padding: 20px 30px 30px;
  }
  .testimonials-text p {
    max-height: 144px;
  }
  .contacts-item {
    display: none;
  }
  .contacts-item.current {
    display: flex;
  }
  .contacts__city {
    font-size: 20px;
    margin-bottom: 25px;
    padding-bottom: 5px;
  }
  .contacts__title {
    margin-bottom: 30px;
  }
  .contacts__map {
    height: 425px;
    margin-top: 30px;
  }
  .footer {
    height: 285px;
    padding: 40px 0;
  }
  .footer__logo {
    width: 330px;
  }
  .footer-nav {
    order: 2;
    width: 100%;
  }
  .address-half {
    display: block;
    max-width: calc(50% - 15px);
  }
  .address__item {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .address__item + .address__item {
    margin-left: 0px;
    margin-top: 10px;
  }
  .breadcrumbs-substrate__img {
    height: 450px;
  }
  .services-container {
    margin-bottom: 80px;
  }
  .services__title_small {
    font-size: 30px;
  }
  .services__subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .services__subtitle::after {
    display: none;
  }
  .services__subtitle + .services-list {
    max-height: 0;
    padding-top: 0;
    overflow: hidden;
    transition: max-height .3s ease-out, padding .3s ease-in;
  }
  .services__subtitle i {
    transition: transform .3s;
  }
  .services__subtitle.show i {
    transform: rotate(-180deg);
  }
  .services__subtitle.show + .services-list {
    transition: max-height .3s ease-in, padding .3s ease-in;
    max-height: 1000px;
    padding-top: 10px;
  }
  .services__img {
    height: 450px;
    margin-bottom: 20px;
  }
  .services__name {
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 45%;
    padding-right: 0;
  }
  .services-numbers {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
    width: 45%;
  }
  .services__time {
    font-size: 14px;
    text-align: right;
  }
  .services__price {
    font-size: 14px;
    text-align: right;
    padding-left: 0;
  }
  .seo {
    padding-bottom: 70px;
  }
  .service {
    margin-bottom: 75px;
  }
  .service__img {
    height: 450px;
    margin-bottom: 50px;
  }
  .service__img .breadcrumbs-substrate__img {
    height: 450px;
  }
  .service__title {
    margin-bottom: 30px;
  }
  .specialists {
    margin-bottom: 70px;
  }
  .specialists__title {
    margin-bottom: 0;
    font-size: 30px;
  }
  .specialists-slider.current {
    height: 580px;
  }
  .specialists-slider-nav {
    left: 50%;
    transform: translateX(-50%);
  }
  .specialists-item {
    flex-direction: column;
    align-items: center;
  }
  .specialists-item.current + .specialists-item {
    max-width: none;
    width: 100%;
  }
  .specialists-item.current + .specialists-item .specialists__img {
    max-width: none;
  }
  .specialists-item.prev {
    max-width: none;
    width: 100%;
  }
  .specialists-item.prev .specialists__img {
    max-width: none;
  }
  .specialists__img {
    height: 230px;
    width: 330px;
    background-position: 50% 30%;
    position: relative;
  }
  .specialists-info {
    padding: 20px 0 0;
    width: 100%;
    position: relative;
  }
  .specialists__name {
    font-size: 28px;
    margin-bottom: 26px;
  }
  .specialists__specialization {
    font-size: 18px;
    line-height: 24px;
    max-height: 48px;
  }
  .specialists__expirience {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .specialists__education {
    font-size: 14px;
  }
  .specialists__education p {
    font-size: 16px;
    line-height: 24px;
    max-height: 48px;
    height: auto;
    margin-top: 2px;
  }
  .specialists__education + .specialists__education {
    margin-top: 14px;
  }
  .specialists-tabs {
    height: 63px;
    max-height: 63px;
    overflow: visible;
    position: relative;
  }
  .specialists-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 7;
    width: 100%;
    border: 1px solid transparent;
    padding: 30px 0px 0;
    max-height: 63px;
    overflow: hidden;
    transition: max-height .3s, padding .6s, border .15s, background-color .15s;
    transition-delay: 0s, 0s, .15s, .15s;
  }
  .specialists-dropdown__current {
    font-size: 18px;
    line-height: 30px;
    border-bottom: 1px solid #8c8c8c;
    color: #141414;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .specialists-dropdown__current .icon-dropdown {
    transition: transform .3s;
  }
  .specialists-dropdown.show {
    max-height: 500px;
    padding: 30px 15px 15px;
    border: 1px solid #8c8c8c;
    background-color: #fff;
    transition-delay: .15s, 0s, .15s, .15s;
  }
  .specialists-dropdown.show .icon-dropdown {
    transform: rotate(-180deg);
  }
  .specialists-dropdown__item {
    font-size: 18px;
    line-height: 48px;
    color: #646464;
  }
  .specialists-dropdown__item.current i {
    display: block;
  }
  .specialists-dropdown__item i {
    font-size: 9px;
    display: none;
  }
  .salons__title {
    margin-bottom: 30px;
  }
  .salons__map {
    height: 450px;
  }
  .salons-slider {
    padding-bottom: 60px;
    margin-bottom: 40px;
  }
  .salons-slider__item {
    height: 205px;
  }
  .salons-slider .slick-arrow {
    bottom: 0;
    top: auto;
    transform: none;
  }
  .salons-slider .slick-next {
    right: 0;
  }
  .salons-slider .slick-prev {
    left: 0;
  }
  .salons-address {
    flex-direction: column;
  }
  .salons-address__item:nth-of-type(n) {
    width: 100%;
    padding-left: 0;
  }
  .salons-address__item:nth-of-type(n) + .salons-address__item {
    margin-top: 25px;
  }
  .salons__title {
    margin-bottom: 0;
  }
  .salons-tabs {
    height: 63px;
    max-height: 63px;
    overflow: visible;
    position: relative;
  }
  .salons-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 7;
    width: 100%;
    border: 1px solid transparent;
    padding: 30px 0px 0;
    max-height: 63px;
    overflow: hidden;
    transition: max-height .3s, padding .6s, border .15s, background-color .15s;
    transition-delay: 0s, 0s, .15s, .15s;
  }
  .salons-dropdown__current {
    font-size: 18px;
    line-height: 30px;
    border-bottom: 1px solid #8c8c8c;
    color: #141414;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .salons-dropdown__current .icon-dropdown {
    transition: transform .3s;
  }
  .salons-dropdown.show {
    max-height: 500px;
    padding: 30px 15px 15px;
    border: 1px solid #8c8c8c;
    background-color: #fff;
    transition-delay: .15s, 0s, .15s, .15s;
  }
  .salons-dropdown.show .icon-dropdown {
    transform: rotate(-180deg);
  }
  .salons-dropdown__item {
    font-size: 18px;
    line-height: 48px;
    color: #646464;
  }
  .salons-dropdown__item.current i {
    display: block;
  }
  .salons-dropdown__item i {
    font-size: 9px;
    display: none;
  }
  .work__img {
    height: 235px;
    max-height: none;
    max-width: none;
  }
  .testimonials-page {
    height: 480px;
    margin-top: -80px;
    margin-bottom: 80px;
    padding-top: 80px;
  }
  .testimonials-page__img {
    display: none;
  }
  .testimonials-page-text {
    width: 100%;
  }
  .testimonials-page__btn {
    width: 330px;
  }
  .testimonials-container {
    padding-bottom: 70px;
  }
  .testimonials-container .testimonials__img {
    height: 190px;
    margin: 0;
    float: none;
  }
  .testimonials-container .testimonials-text {
    padding: 20px 30px 30px 30px;
  }
  .blog {
    padding-bottom: 80px;
  }
  .blog__title {
    margin-bottom: 30px;
  }
  .blog-item {
    height: 417px;
  }
  .blog-content {
    padding: 25px 30px 25px;
  }
  .blog__subtitle {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 18px;
  }
  .blog__text {
    margin-bottom: 15px;
    max-height: 130px;
  }
  .blog__text p {
    font-size: 14px;
  }
  .blog__more {
    font-size: 14px;
  }
  .blog__date {
    font-size: 14px;
  }
  .blog__btn {
    width: 330px;
  }
  .blog-open {
    padding-bottom: 80px;
  }
  .blog-open__img:nth-of-type(n) {
    display: block;
    float: none;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .blog-open-nav {
    flex-wrap: wrap;
  }
  .blog-open-nav p {
    max-width: calc(100% - 60px);
    font-size: 12px;
    line-height: 18px;
  }
  .blog-open__prev {
    width: 100%;
    order: 1;
    margin-top: 30px;
    justify-content: flex-start;
  }
  .blog-open__next {
    width: 100%;
    justify-content: flex-end;
  }
  .bonuses-item .bonuses__img:nth-of-type(n) {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
  .bonuses__img {
    width: 100%;
    max-width: 100%;
  }
  .promotion-item {
    height: 206px;
  }
  .bonuses__title {
    font-size: 32px;
    line-height: 40px;
  }
  .bonuses-item {
    padding-bottom: 30px;
  }
  .bonuses-item + .bonuses-item {
    padding-top: 30px;
  }
  .input-file__info .info {
    left: auto;
    right: 0;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}

@media (max-width: 575px) {
  .about {
    margin-bottom: 65px;
  }
  .symbol {
    height: 100px;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
  .symbol__text {
    font-size: 24px;
  }
  .symbol__text:first-of-type {
    margin-top: -5px;
  }
  .symbol__text:last-of-type {
    margin-bottom: -2px;
  }
  .symbol__img {
    width: 130px;
  }
  .popular {
    margin-bottom: 80px;
  }
  .popular__title {
    margin-bottom: 30px;
  }
  .popular-item {
    height: 65vw;
  }
  .popular-item__title {
    font-size: 12px;
  }
  .promotion-item {
    height: 37vw;
  }
  .modal-container {
    padding: 45px 30px 40px;
  }
}
