/* NORMALIZE
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: auto;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  font-family: inherit;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  font-family: inherit;
}

td, form {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

ul {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@font-face {
  font-family: 'NotoSans';
  src: url("../fonts/NotoSans/NotoSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'NotoSans';
  src: url("../fonts/NotoSans/NotoSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'FedraSansPro';
  src: url("../fonts/FedraSansPro/FedraSansPro-Light.otf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'FedraSansPro';
  src: url("../fonts/FedraSansPro/FedraSansPro-Bold.otf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'PlayfairDisplaySC';
  src: url("../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vk:before {
  content: "\e900";
}

.icon-dropdown {
  font-size: 6px;
  vertical-align: middle;
}

.icon-dropdown:before {
  content: "\e901";
}

.icon-email:before {
  content: "\e902";
}

.icon-header-service-1:before {
  content: "\e903";
}

.icon-header-service-2:before {
  content: "\e904";
}

.icon-header-service-3:before {
  content: "\e905";
}

.icon-header-service-4:before {
  content: "\e906";
}

.icon-inst:before {
  content: "\e907";
}

.icon-location:before {
  content: "\e908";
}

.icon-quotes:before {
  content: "\e909";
}

.icon-slider-arrow:before {
  content: "\e90a";
}

.icon-tel:before {
  content: "\e90b";
}

.icon-check:before {
  content: "\e90c";
}

.icon-info:before {
  content: "\e90d";
}

html {
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
}

html.overflow {
  height: auto;
  position: relative;
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
}

html.overflow body {
  height: auto;
  position: relative;
  overflow: hidden !important;
}

body {
  font-family: "FedraSansPro", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #141414;
  min-width: 360px;
  margin: auto;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}

main {
  background-color: #fff;
}

button, select {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

a:hover {
  text-decoration: none;
}

*:focus {
  outline: none;
}

input[type="checkbox"] {
  margin: 0;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea {
  border: 1px solid #dfdfdf;
  font-size: 16px;
  font-weight: 300;
  padding: 14px 19px;
  resize: none;
  overflow: hidden;
  transition: border .3s;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder {
  font-weight: 300;
  font-size: #8d8c8c;
}

input[type="text"]:active, input[type="text"]:focus,
input[type="tel"]:active,
input[type="tel"]:focus,
input[type="email"]:active,
input[type="email"]:focus,
input[type="number"]:active,
input[type="number"]:focus,
textarea:active,
textarea:focus {
  border-color: #646464;
}

/* styles */
.input-file label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.input-file label.file .input-file__btn {
  background: 50% 50% / cover no-repeat;
  background-color: #eeeeee;
}

.input-file label.file .input-file__btn::before, .input-file label.file .input-file__btn::after {
  display: none;
}

.input-file label.file:hover .layer {
  transform: translate(-50%, -50%);
}

.input-file label.file:hover .layer::before, .input-file label.file:hover .layer::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.input-file__btn {
  position: relative;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f5f5f5;
  transition: background-color .3s;
}

.input-file__btn .layer {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translate(-50%, -50%) scale(0.01);
  transform-origin: center center;
  transition: transform .3s;
}

.input-file__btn .layer::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  left: 50%;
  top: 50%;
  background-color: #ff0000;
  transform: translate(-50%, -50%);
  transition: background-color .3s, transform .3s;
}

.input-file__btn .layer::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 15px;
  left: 50%;
  top: 50%;
  background-color: #ff0000;
  transform: translate(-50%, -50%);
  transition: background-color .3s, transform .3s;
}

.input-file__btn::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  left: 50%;
  top: 50%;
  background-color: #000;
  transform: translate(-50%, -50%);
  transition: background-color .3s, transform .3s;
}

.input-file__btn::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 15px;
  left: 50%;
  top: 50%;
  background-color: #000;
  transform: translate(-50%, -50%);
  transition: background-color .3s, transform .3s;
}

.input-file__text {
  margin-right: 15px;
}

.input-file__info {
  color: #ffb033;
  font-size: 13px;
  position: relative;
}

.input-file__info .info {
  position: absolute;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  font-size: 13px;
  line-height: 18px;
  z-index: 2;
  color: #686868;
  background-color: #fff;
  padding: 0;
  bottom: 11px;
  left: 11px;
  opacity: 0;
  white-space: nowrap;
  max-height: 0;
  transition: opacity .3s;
}

.input-file__info:hover .info {
  opacity: 1;
  max-height: none;
  padding: 10px 15px;
  border: 1px solid #eee;
}

.input-file__hidden {
  display: none;
}

.standart-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 48px;
  background-color: #ffd800;
  border-radius: 25px;
  color: #141414;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  user-select: none;
  transition: background-color .3s, transform .3s, border .3s, box-shadow .3s, color .3s;
}

.standart-btn_big {
  width: 280px;
}

.standart-btn_white {
  border: 1px solid #ffd800;
  background-color: #fff;
  color: #d1b100;
}

.standart-btn:active {
  background-color: #ffd80099 !important;
  border-color: #ffd80099 !important;
}

.title-l {
  font-family: 'PlayfairDisplaySC', sans-serif;
  font-size: 52px;
  line-height: 60px;
  font-weight: 700;
  color: #141414;
}

.title-l_big {
  font-size: 60px;
  line-height: 72px;
}

.title-m {
  font-family: 'PlayfairDisplaySC', sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  color: #141414;
}

.border-bottom {
  border-bottom: 1px solid #8c8c8c;
}

.breadcrumbs-substrate {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  top: 0;
  overflow: hidden;
}

.breadcrumbs-substrate__layer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: .4;
  z-index: 1;
}

.breadcrumbs-substrate__img {
  background: 50% 50% / cover no-repeat;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  filter: blur(20px);
  width: 100%;
  height: 550px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 70px;
  font-size: 16px;
  line-height: 1;
  color: #000;
  z-index: 1;
  position: relative;
  padding: 15px 0;
}

.breadcrumbs_high {
  height: 100px;
  padding: 25px 0;
}

.breadcrumbs__item {
  display: inline;
}

.breadcrumbs__item::after {
  content: "/";
  margin-right: 3px;
  margin-left: 3px;
}

.breadcrumbs__item:last-of-type::after {
  display: none;
}

.breadcrumbs__item:last-of-type {
  color: #646464;
}

.js-opacity {
  opacity: 0;
  transition: opacity .6s;
}

.js-opacity.animate {
  opacity: 1;
}

/********************/
/* HEADER */
@keyframes scale-infinite {
  0%, 10%, 20%, 100% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.1);
  }
  15% {
    transform: scale(1.1);
  }
}

.header {
  padding-bottom: 24px;
}

.header__btn {
  animation: scale-infinite 5s infinite;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #8c8c8c;
  top: 50px;
  left: 0;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #8c8c8c;
  top: 55px;
  left: 0;
}

.header-top {
  max-width: 1585px;
  padding: 0 15px;
  height: 50px;
  margin-bottom: 28px;
  position: relative;
}

.header-bottom {
  max-width: 1585px;
  padding: 0 15px;
  height: 48px;
}

.header-services {
  width: calc(100% - 570px);
}

.header-services__item {
  user-select: none;
}

.header-services__item > span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #646464;
  cursor: pointer;
  transition: color .3s;
}

.header-services__item i {
  color: #646464;
  transition: color .3s;
}

.header-services__item i:first-child {
  font-size: 34px;
  vertical-align: middle;
  margin-right: 10px;
}

.header-services__item .icon-dropdown {
  margin-left: 10px;
}

.header-cities__item {
  font-size: 12px;
  color: #646464;
}

.header-cities__item + .header-cities__item::before {
  content: "| ";
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header__logo img {
  width: 222px;
  margin-bottom: 5px;
}

.header__logo p {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  color: #828282;
  letter-spacing: .09em;
}

.header__tel {
  color: #646464;
  font-size: 13px;
  margin-left: 120px;
  transition: color .3s;
}

.header__tel i {
  vertical-align: text-bottom;
  margin-right: 10px;
}

.header__email {
  color: #646464;
  font-size: 13px;
  margin-left: 45px;
  transition: color .3s;
}

.header__email i {
  vertical-align: middle;
  font-size: 10px;
  margin-right: 10px;
}

.header-socials {
  margin-left: 35px;
  display: flex;
}

.header-socials__item {
  width: 49px;
  height: 24px;
  border-radius: 5px;
  color: #646464;
  background-color: whitesmoke;
  transition: color .3s, background-color .3s;
}

.header-socials__item_inst {
  font-size: 14px;
}

.header-socials__item_vk {
  font-size: 11px;
}

.header-socials__item_email {
  display: none;
  font-size: 10px;
}

.header-socials__item:active {
  background-color: #a5a5a5 !important;
}

.header-socials__item + .header-socials__item {
  margin-left: 10px;
}

.nav {
  width: 520px;
  margin-left: auto;
}

.nav__item {
  text-transform: uppercase;
  font-size: 12px;
  color: #646464;
  user-select: none;
  transition: color .3s;
}

.dropdown-part h2 {
  margin-bottom: 25px;
}

.dropdown-part + .dropdown-part {
  margin-left: 105px;
}

.dropdown-parent {
  position: relative;
}

.dropdown__icon {
  margin-left: 10px;
}

.dropdown-content {
  position: absolute;
  left: 0;
  margin-top: 31px;
  margin-left: -30px;
  background-color: transparent;
  max-height: 0px;
  overflow: hidden;
  padding: 0 60px 0 50px;
  z-index: 2;
  border: 1px solid transparent;
  transition: background-color 0s, max-height .1s, padding .2s, margin .1s, border .1s;
  transition-delay: .2s, 0s, 0s, 0s, .2s;
}

.dropdown__item {
  font-size: 18px;
  font-weight: 300;
  white-space: nowrap;
  color: #646464;
  transition: color .3s;
}

.dropdown__item + .dropdown__item {
  margin-top: 25px;
}

.dropdown.active {
  color: #d1b100 !important;
}

.dropdown.active i {
  color: #d1b100 !important;
}

.dropdown.active + .dropdown-content {
  transition: background-color 0s, max-height .3s, padding .6s, margin .3s, border .3s;
  padding: 50px 60px 50px 50px;
  max-height: 1000px;
  border: 1px solid #8c8c8c;
  background-color: #fff;
  transition-delay: 0s;
}

.dropdown.active .icon-dropdown {
  transform: rotate(-90deg);
}

.dropdown .icon-dropdown {
  display: inline-block;
  transition: transform .3s, color .3s;
}

.hamburger {
  width: 30px;
  height: 15px;
  z-index: 5;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  margin-left: 30px;
}

.hamburger.active {
  width: 20px;
  height: 20px;
  z-index: 100;
}

.hamburger.active span {
  background: #000;
  transition-delay: .25s, 0s;
}

.hamburger.active span:nth-child(1) {
  width: 28px;
  transform: rotate(-45deg);
  top: -1px;
}

.hamburger.active span:nth-child(2) {
  transform: translateX(100%) !important;
  opacity: 0;
  transition-delay: 0s, 0s;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(45deg);
  top: 19px;
  width: 28px;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  background: #000;
  opacity: 1;
  right: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out , width .25s;
  transition-delay: 0s;
}

.hamburger span:nth-child(1) {
  width: 30px;
  top: 0px;
  transform-origin: right;
}

.hamburger span:nth-child(2) {
  width: 20px;
  top: 7px;
  transform-origin: right;
  transform: translateX(0);
  transition: transform .25s , opacity .25s;
  transition-delay: .25s, .25s;
}

.hamburger span:nth-child(3) {
  width: 30px;
  top: 13px;
  transform-origin: right;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body.menu .header-top {
  padding: 35px 15px 40px;
  max-height: calc(100vh - 64px);
}

body.menu .nav {
  max-height: 100vh;
  transform: none;
  transition-delay: 0s;
}

body.menu .nav__li {
  animation: fade-in .6s ease-in;
}

/*************************/
/* main-slider */
.main-slider {
  width: 100%;
  height: 530px;
  max-width: 1555px;
  margin-bottom: 120px;
}

.main-slider__item {
  background: 50% 50% / cover no-repeat;
  height: 530px;
  width: 100%;
}

/**************************/
/* features */
.features {
  margin-bottom: 110px;
}

.features-item {
  position: relative;
  padding-left: 90px;
  padding-top: 7px;
}

.features-item__title {
  position: relative;
  height: 60px;
  max-height: 60px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  line-height: 20px;
  margin-bottom: 10px;
  padding-right: 10px;
}

.features-item__text {
  display: block;
  color: #a0a0a0;
  font-size: 14px;
  line-height: 20px;
}

.features__number {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(50%);
  opacity: 0;
  transition: opacity .3s, transform .3s;
}

.features__number.animate {
  opacity: 1;
  transform: none;
}

.features .col-md-6:nth-of-type(2) .features__number {
  transition-delay: .2s;
}

.features .col-md-6:nth-of-type(3) .features__number {
  transition-delay: .4s;
}

.features .col-md-6:last-of-type .features__number {
  transition-delay: .6s;
}

/***********************/
/* about */
.about {
  margin-bottom: 105px;
}

.about__title {
  margin-bottom: 40px;
}

.about__text {
  line-height: 25px;
}

.symbol {
  width: 100%;
  height: 175px;
  background-color: #efe6c8;
  position: relative;
}

.symbol__text {
  font-family: "PlayfairDisplay", sans-serif;
  line-height: 1;
  color: #fff;
  font-size: 48px;
  text-transform: uppercase;
}

.symbol__text:first-of-type {
  margin-top: -9px;
}

.symbol__text:last-of-type {
  margin-bottom: -4px;
}

.symbol__img {
  width: 240px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/************************/
/* popular */
.popular {
  margin-bottom: 140px;
}

.popular__title {
  margin-bottom: 40px;
}

.popular-container {
  margin-bottom: -30px;
}

.popular-item {
  display: block;
  height: 400px;
  margin-bottom: 30px;
  position: relative;
  border: 1px solid #d1d1d1;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow .3s;
}

.popular-item__img {
  width: 100%;
  height: 100%;
  background: 50% 50% / cover no-repeat;
  transition: transform .3s;
}

.popular-item__title {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.popular__btn {
  margin-top: 40px;
}

/***********************/
/* promo */
@keyframes scale {
  0%, 50%, 100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.1);
  }
}

.promo {
  background: 50% 50% / cover no-repeat;
  margin-bottom: 130px;
  height: 505px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.promo__title {
  margin-bottom: 20px;
  letter-spacing: -.2px;
}

.promo__img {
  max-width: 100%;
  max-height: 430px;
  display: block;
  margin: 0 auto;
}

.promo__btn {
  margin-top: 35px;
}

.promo__btn.animate {
  animation: scale 1s ease-in;
}

/************************/
/* testimonials */
.testimonials-slider {
  margin-bottom: 210px;
}

.testimonials-slider .slick-next {
  top: auto;
  bottom: -70px;
  right: calc(50% - 50px);
  transform: translateX(50%);
  opacity: 1;
}

.testimonials-slider .slick-next:active {
  background-color: #c1bebe !important;
}

.testimonials-slider .slick-prev {
  top: auto;
  bottom: -70px;
  left: calc(50% - 50px);
  transform: translateX(-50%);
  opacity: 1;
}

.testimonials-slider .slick-prev:active {
  background-color: #c1bebe !important;
}

.testimonials-slider .slick-dots {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0;
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -70px;
}

.testimonials-slider .slick-dots {
  line-height: 1 !important;
}

.testimonials-slider .slick-dots:before {
  content: attr(data-current);
  font-size: 26px;
  margin-right: 2px;
}

.testimonials-slider .slick-dots:after {
  content: " / " attr(data-lenght);
  font-size: 16px;
  vertical-align: super;
}

.testimonials-slider .slick-dots li {
  display: none;
}

.testimonials-slider__title {
  margin-bottom: 40px;
}

.testimonials__quotes {
  position: absolute;
  right: 35px;
  top: 30px;
  font-size: 29px;
  color: #f5f5f5;
}

.testimonials-item {
  position: relative;
  height: 300px;
  border: 1px solid #d1d1d1;
}

.testimonials__img {
  width: 255px;
  height: 100%;
  background: 50% 50% / cover no-repeat;
  border-right: 1px solid #d1d1d1;
}

.testimonials__author {
  display: block;
  color: #141414;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 10px;
  max-height: 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.testimonials-text {
  width: calc(100% - 255px);
  padding: 0 45px 0 40px;
}

.testimonials-text p {
  max-height: 96px;
  overflow: hidden;
}

.testimonials__footer {
  margin-top: 10px;
}

.testimonials__more {
  color: #646464;
  text-decoration: underline;
  cursor: pointer;
  transition: color .3s;
}

.testimonials__date {
  color: #999;
}

.testimonials__service {
  display: block;
  font-size: 18px;
  margin-bottom: 15px;
}

/************************/
/* contacts */
address {
  font-style: normal;
}

.contacts__title {
  margin-bottom: 40px;
}

.contacts-clickable {
  cursor: pointer;
}

.contacts-item {
  display: flex;
}

.contacts-item.current .contacts__address {
  color: #000;
}

.contacts-item.current .contacts__address i {
  color: #f0bf24;
}

.contacts-item.current .contacts__city {
  color: #141414 !important;
}

.contacts-item.current .contacts__city::before {
  background-color: #8c8c8c;
}

.contacts-item.current .contacts__city::after {
  background-color: #8c8c8c;
}

.contacts__city {
  position: relative;
  font-family: 'PlayfairDisplaySC', sans-serif;
  font-size: 36px;
  color: #e0e0e0;
  line-height: 1;
  padding-bottom: 15px;
  margin-bottom: 35px;
  z-index: 2;
  transition: color .3s;
}

.contacts__city::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -3px;
  background-color: #e0e0e0;
  transition: background .3s;
}

.contacts__city::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -6px;
  background-color: #e0e0e0;
  transition: background .3s;
}

.contacts__city .icon-dropdown {
  transition: transform .3s;
}

.contacts__address {
  color: #646464;
  margin-bottom: 20px;
  text-decoration: underline;
  transition: color .3s;
}

.contacts__tel {
  font-weight: 700;
  transition: color .3s;
}

.contacts__map {
  margin-top: 75px;
  height: 580px;
  overflow: hidden;
}

.contacts__map iframe {
  width: calc(100% + 100px);
  height: calc(100% + 320px);
  max-width: 0px;
  max-height: 0px;
  opacity: 0;
  transition: opacity .6s;
}

.contacts__map iframe.current {
  max-width: none;
  max-height: none;
  margin: -160px 0 0 -50px;
  opacity: 1;
  transition-delay: .6s;
}

.contacts-dropdown {
  background-color: transparent;
  z-index: 1;
  width: 100%;
  border: 1px solid transparent;
  padding: 65px 15px 0;
  top: -50px;
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s, padding .6s, border .15s, background-color .15s;
  transition-delay: 0s, 0s, .15s, .15s;
}

.contacts-dropdown.show {
  max-height: 500px;
  padding: 100px 15px 30px;
  border: 1px solid #8c8c8c;
  background-color: #fff;
  transition-delay: 0s;
}

.contacts-dropdown.show + .col-md-4 .icon-dropdown {
  transform: rotate(-180deg);
}

.contacts-dropdown__item {
  font-size: 18px;
  line-height: 48px;
  color: #646464;
}

.contacts-dropdown__item.current i {
  display: block;
}

.contacts-dropdown__item i {
  font-size: 9px;
  display: none;
}

/**********************/
/* SERVICES-PAGE */
.services__img {
  width: 100%;
  height: 550px;
  margin-bottom: 45px;
  background: 50% 50% / cover no-repeat;
}

.services-container {
  margin-bottom: 110px;
}

.services__title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.services__title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #8c8c8c;
  bottom: -3px;
  left: 0;
}

.services__title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #8c8c8c;
  bottom: -6px;
  left: 0;
}

.services-list + .services__subtitle {
  margin-top: 25px;
}

.services-item {
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 10px;
}

.services-item + .services-item {
  padding-top: 10px;
}

.services-item > .services__name {
  font-size: 16px;
}

.services__subtitle {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 10px;
}

.services__subtitle::after {
  content: ":";
}

.services__subtitle + .services-list {
  padding-top: 10px;
}

.services__name {
  width: 45%;
  font-size: 18px;
  color: #000;
  padding-right: 15px;
  transition: color .3s;
}

.services-numbers {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__time {
  text-align: center;
  font-size: 16px;
  color: #646464;
  transition: color .3s;
}

.services__price {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  padding-left: 15px;
  transition: color .3s;
}

.services__info {
  margin-top: 15px;
}

.seo {
  padding-bottom: 110px;
}

.seo__title {
  margin-bottom: 30px;
}

/**********************/
/* SERVICE-OPEN-PAGE */
.service {
  margin-bottom: 130px;
}

.service__img {
  width: 100%;
  height: 600px;
  margin-bottom: 70px;
  background: 50% 0% / cover no-repeat;
}

.service__img .breadcrumbs-substrate__img {
  height: 600px;
}

.service__title {
  margin-bottom: 50px;
}

.service__text {
  margin-bottom: 25px;
}

.service__btn.animate {
  animation: scale 1s ease-in;
}

.specialists {
  margin-bottom: 120px;
}

.specialists__title {
  margin-bottom: 30px;
}

.specialists-tabs {
  margin-bottom: 26px;
}

.specialists-tabs__item {
  display: block;
  width: 27%;
  font-size: 24px;
  font-weight: 700;
  color: #d9d9d9;
  position: relative;
  cursor: pointer;
  transition: color .3s;
}

.specialists-tabs__item.current {
  color: #141414 !important;
}

.specialists-tabs__item.current::before {
  background-color: #8c8c8c;
}

.specialists-tabs__item.current::after {
  background-color: #8c8c8c;
}

.specialists-tabs__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -3px;
  background-color: #d9d9d9;
  transition: background .3s;
}

.specialists-tabs__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -6px;
  background-color: #d9d9d9;
  transition: background .3s;
}

.specialists-slider {
  position: relative;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: opacity .3s, height 0s;
  transition-delay: 0s, .3s;
}

.specialists-slider.current {
  height: 480px;
  opacity: 1;
  transition-delay: .3s, .3s;
}

.specialists-slider-nav {
  position: absolute;
  bottom: 0;
  left: 330px;
  z-index: 6;
}

.specialists-slider__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #f5f5f5;
  border-radius: 50%;
  color: #333;
  transition: color .3s, background-color .3s;
}

.specialists-slider__button:active {
  background-color: #c1bebe !important;
}

.specialists-slider__next {
  transform: rotate(180deg);
}

.specialists-slider__counter {
  padding: 0 10px;
}

.specialists-slider__counter span {
  font-size: 16px;
  line-height: 1;
}

.specialists-slider__counter span::before {
  content: attr(data-current);
  font-size: 26px;
  line-height: 1;
  margin-right: 5px;
}

.specialists-slider__counter span::after {
  content: attr(data-lenght);
  font-size: 16px;
  line-height: 1;
  margin-left: 5px;
}

.specialists-item {
  height: 100%;
  max-height: 100%;
  width: 670px;
  max-width: 670px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  background-color: #fff;
  overflow: hidden;
  transition: max-width .3s, width .3s, max-height .3s, transform .3s, opacity .3s;
  transition-delay: 0s, .3s, 0s, 0s, 0s;
}

.specialists-item.current + .specialists-item {
  transform: translateX(740px);
  max-height: 73%;
  z-index: 4;
  width: 300px;
  max-width: 220px;
}

.specialists-item.current + .specialists-item .specialists__img {
  max-width: 220px;
  opacity: .6;
}

.specialists-item.current + .specialists-item + .specialists-item {
  transform: translateX(850px);
  max-height: 62.5%;
  z-index: 3;
  width: 220px;
  max-width: 187.5px;
}

.specialists-item.current + .specialists-item + .specialists-item .specialists__img {
  max-width: 187.5px;
  opacity: .5;
}

.specialists-item.current + .specialists-item + .specialists-item ~ .specialists-item {
  transform: translateX(940px);
  max-height: 50%;
  z-index: 2;
  width: 187.5px;
  max-width: 150px;
}

.specialists-item.current + .specialists-item + .specialists-item ~ .specialists-item .specialists__img {
  max-width: 150px;
  opacity: .3;
}

.specialists-item.current + .specialists-item + .specialists-item ~ .specialists-item + .specialists-item {
  transform: translateX(1110px);
  z-index: 1;
}

.specialists-item.prev {
  transform: translateX(-100%);
  opacity: 0;
  width: 300px;
}

.specialists__img {
  height: 100%;
  width: 300px;
  max-width: 670px;
  opacity: 1;
  flex-shrink: 0;
  border: 1px solid #d1d1d1;
  background: 50% 50% / cover no-repeat;
  transition: opacity .3s, max-width .3s;
}

.specialists-info {
  width: 370px;
  padding: 60px 0 0 30px;
  flex-shrink: 0;
}

.specialists__name {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  margin-bottom: 26px;
}

.specialists__name::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -3px;
  background-color: #8c8c8c;
  transition: background .3s;
}

.specialists__name::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -6px;
  background-color: #8c8c8c;
  transition: background .3s;
}

.specialists__specialization {
  font-size: 20px;
  line-height: 28px;
  max-height: 56px;
  overflow: hidden;
  font-weight: 700;
}

.specialists__expirience {
  font-size: 16px;
  color: #8c8c8c;
  margin-bottom: 35px;
}

.specialists__education p {
  font-size: 18px;
  line-height: 28px;
  height: 56px;
  max-height: 56px;
  overflow: hidden;
  font-weight: 700;
  margin-top: 5px;
}

.specialists__education + .specialists__education {
  margin-top: 7px;
}

/**********************/
/* SALONS-PAGE */
.salons {
  margin-bottom: 140px;
}

.salons__title {
  margin-bottom: 40px;
  font-size: 56px;
}

.salons-item {
  position: absolute;
  width: 100%;
  opacity: 0;
  z-index: -1;
  transition: opacity 0s;
}

.salons-item.current {
  position: relative;
  opacity: 1;
  z-index: 1;
  transition: opacity .6s;
}

.salons-tabs {
  margin-bottom: 26px;
}

.salons-tabs__item {
  font-family: 'PlayfairDisplaySC', sans-serif;
  display: block;
  width: 27%;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 10px;
  color: #d9d9d9;
  position: relative;
  cursor: pointer;
  text-align: center;
  transition: color .3s;
}

.salons-tabs__item.current {
  color: #141414 !important;
}

.salons-tabs__item.current::before {
  background-color: #8c8c8c;
}

.salons-tabs__item.current::after {
  background-color: #8c8c8c;
}

.salons-tabs__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -3px;
  background-color: #d9d9d9;
  transition: background .3s;
}

.salons-tabs__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -6px;
  background-color: #d9d9d9;
  transition: background .3s;
}

.salons-slider {
  margin-bottom: 60px;
}

.salons-slider__item {
  background: 50% 50% / cover no-repeat;
  width: 100%;
  height: 450px;
}

.salons-address {
  margin-bottom: 35px;
}

.salons-address__item span {
  color: #868686;
}

.salons-address__item:first-of-type {
  width: 360px;
}

.salons-address__item:last-of-type {
  width: 360px;
  padding-left: 100px;
}

.salons-address__item a {
  transition: color .3s;
}

.salons__map {
  max-width: 1110px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  overflow: hidden;
}

.salons__map iframe {
  width: calc(100% + 100px);
  height: calc(100% + 320px);
  margin: -160px 0 0 -50px;
}

.work {
  height: 26.3vw;
  margin-bottom: 0;
}

.work .container {
  height: 100%;
}

.work .row {
  height: 100%;
}

.work__img {
  max-width: none;
  max-height: none;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  max-height: 100%;
}

/* TESTIMONIALS-PAGE */
.testimonials-page {
  height: 510px;
  padding: 50px 0 10px;
  background: 50% 50% / cover no-repeat;
  margin-top: -100px;
  margin-bottom: 200px;
}

.testimonials-page__img {
  position: absolute;
  background: 50% 50% / cover no-repeat;
  width: 310px;
  height: 450px;
  border: 1px solid #d1d1d1;
  bottom: -60px;
  left: 15px;
}

.testimonials-page-text {
  width: calc(100% - 350px);
  margin-left: auto;
}

.testimonials-page-text p {
  font-size: 20px;
}

.testimonials-page__title {
  font-size: 56px;
  margin-bottom: 30px;
}

.testimonials-page__btn {
  margin-top: 25px;
}

.testimonials-container {
  padding-bottom: 140px;
}

.testimonials-container .testimonials-item {
  height: auto;
  min-height: 300px;
}

.testimonials-container .testimonials-item + .testimonials-item {
  margin-top: 30px;
}

.testimonials-container .testimonials__img {
  height: 298px;
  float: left;
  margin-right: 40px;
  margin-bottom: 20px;
}

.testimonials-container .testimonials-text {
  padding: 40px 45px;
  width: 100%;
}

.testimonials-container .testimonials-text p {
  max-height: none;
  display: inline;
}

.testimonials-container__btn {
  margin-top: 40px;
}

/**********************/
/* BLOG-PAGE */
.blog {
  padding-bottom: 140px;
}

.blog__title {
  margin-bottom: 40px;
  font-size: 56px;
}

.blog-container {
  margin: 0 0 -30px -30px;
}

.blog-item {
  width: calc(50% - 30px);
  height: 447px;
  margin: 0 0 30px 30px;
  border: 1px solid #d1d1d1;
  transition: box-shadow .3s;
}

.blog__img {
  border-bottom: 1px solid #d1d1d1;
  height: 200px;
  width: 100%;
  background: 50% 50% / cover no-repeat;
}

.blog-content {
  height: calc(100% - 200px);
  padding: 30px 40px 35px;
}

.blog__subtitle {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 25px;
  max-height: 60px;
  overflow: hidden;
}

.blog__text {
  margin-bottom: 25px;
  overflow: hidden;
  max-height: 132px;
}

.blog__more {
  color: #646464;
  text-decoration: underline;
}

.blog__date {
  color: #999;
}

.blog__btn {
  margin-top: 40px;
}

/**********************/
/* BLOG-OPEN-PAGE */
.blog-open {
  padding-bottom: 140px;
}

.blog-open-container {
  margin-bottom: 50px;
}

.blog-open__title {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
}

.blog-open__date {
  display: block;
  color: #999;
  font-size: 14px;
  margin-bottom: 5px;
}

.blog-open__img {
  max-width: 50%;
}

.blog-open__img:nth-of-type(odd) {
  float: left;
  margin-bottom: 30px;
  margin-right: 30px;
}

.blog-open__img:nth-of-type(even) {
  float: right;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.blog-open__img + p {
  margin-top: 25px;
}

.blog-open p + p {
  margin-top: 25px;
}

.blog-open-nav {
  width: 100%;
}

.blog-open-nav p {
  color: #000;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  max-width: 360px;
  transition: color .3s;
}

.blog-open-nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #f5f5f5;
  border-radius: 50%;
  color: #333;
  transition: color .3s, background-color .3s;
}

.blog-open-nav a:active button {
  background-color: #c1bebe !important;
}

.blog-open__next button {
  margin-left: 20px;
}

.blog-open__next i {
  transform: scale(-1);
}

.blog-open__next p {
  text-align: right;
}

.blog-open__prev button {
  margin-right: 20px;
}

/**********************/
/* BONUSES-PAGE */
.bonuses__title {
  font-size: 56px;
  margin-bottom: 30px;
}

.bonuses-tabs__item {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  color: #d9d9d9;
  width: calc(50% - 15px);
  cursor: pointer;
  margin-bottom: 6px;
  transition: color .3s;
}

.bonuses-tabs__item.current {
  color: #141414 !important;
}

.bonuses-tabs__item.current::before {
  background-color: #8c8c8c;
  transition: background-color .3s;
}

.bonuses-tabs__item.current::after {
  background-color: #8c8c8c;
  transition: background-color .3s;
}

.bonuses-tabs__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -3px;
  background-color: #d9d9d9;
  transition: background .3s;
}

.bonuses-tabs__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -6px;
  background-color: #d9d9d9;
  transition: background .3s;
}

.bonuses-container {
  position: relative;
  padding-bottom: 140px;
}

.bonuses-content {
  max-height: 0;
  padding-top: 0px;
  overflow: hidden;
  opacity: 0;
  transition: opacity .3s;
}

.bonuses-content.current {
  max-height: none;
  padding-top: 40px;
  opacity: 1;
}

.bonuses-item {
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
}

.bonuses-item:nth-of-type(odd) .bonuses__img {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.bonuses-item:nth-of-type(even) .bonuses__img {
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
}

.bonuses-item + .bonuses-item {
  padding-top: 40px;
}

.bonuses__subtitle {
  font-size: 48px;
  line-height: 60px;
  color: #d3a14b;
  margin-bottom: 15px;
}

.bonuses__img {
  max-width: 50%;
}

.bonuses__more {
  margin-top: 40px;
}

.promotion-item {
  height: 450px;
  width: 100%;
  background: 50% 50% / cover no-repeat;
}

.promotion-item + .promotion-item {
  margin-top: 30px;
}

/**********************/
/* FOOTER */
.footer {
  height: 122px;
  background-color: #141414;
}

.footer-nav {
  width: 310px;
}

.footer-nav__item {
  display: block;
  font-size: 12px;
  color: #b8b8b8;
  text-transform: uppercase;
  transition: color .3s;
}

.footer-nav__item + .footer-nav__item {
  margin-top: 10px;
}

.address {
  width: 400px;
}

.address__item {
  position: relative;
  display: block;
  font-size: 12px;
  color: #b8b8b8;
  padding-left: 25px;
  transition: color .3s;
}

.address__item .icon-tel {
  font-size: 13px;
}

.address__item .icon-email {
  font-size: 10px;
}

.address__item .icon-inst {
  font-size: 14px;
}

.address__item .icon-vk {
  font-size: 11px;
}

.address__item i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.address__item + .address__item {
  margin-top: 10px;
}

/*************/
/* MODAL */
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modal {
  overflow: auto;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-container {
  position: relative;
  max-width: 100%;
  width: 470px;
  background-color: #fff;
  padding: 55px 60px 50px;
  font-size: 16px;
  margin: auto;
}

.modal__title {
  font-family: 'PlayfairDisplaySC', sans-serif;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 25px;
  text-align: center;
}

.modal-dropdown {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.modal-dropdown .icon-dropdown {
  transition: transform .3s;
}

.modal-dropdown__current {
  padding: 14px 19px;
  border: 1px solid #646464;
  cursor: pointer;
}

.modal-dropdown-list {
  background: #fff;
  width: 100%;
  max-height: 0px;
  padding-top: 0;
  padding-bottom: 0px;
  overflow: hidden;
  position: absolute;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  z-index: 1;
  transition: max-height .3s ease-out, border 0s, padding .6s;
  transition-delay: 0s, .3s;
}

.modal-dropdown__item {
  padding: 14px 19px;
  cursor: pointer;
  transition: background-color .3s;
}

.modal-dropdown__item span {
  color: #646464;
  transition: color .3s;
}

.modal-dropdown__item i {
  font-size: 9px;
  display: none;
}

.modal-dropdown__item.current i {
  display: block;
}

.modal-dropdown__item.current span {
  color: #000;
}

.modal-dropdown.show .icon-dropdown {
  transform: rotate(-180deg);
}

.modal-dropdown.show .modal-dropdown-list {
  border-left: 1px solid #646464;
  border-bottom: 1px solid #646464;
  border-right: 1px solid #646464;
  max-height: 1000px;
  padding-top: 30px;
  padding-bottom: 20px;
  transition: max-height .3s ease-in, border 0s, padding .6s;
  transition-delay: 0s;
}

.modal input,
.modal textarea,
.modal .modal-dropdown {
  width: 100%;
}

.modal input + input,
.modal input + textarea,
.modal input + .modal-dropdown,
.modal textarea + input,
.modal textarea + textarea,
.modal textarea + .modal-dropdown,
.modal .modal-dropdown + input,
.modal .modal-dropdown + textarea,
.modal .modal-dropdown + .modal-dropdown {
  margin-top: 20px;
}

.modal input + button,
.modal textarea + button,
.modal .modal-dropdown + button {
  margin-top: 30px;
}

.modal .input-file {
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal textarea {
  height: 100px;
}

.modal__btn {
  width: 300px;
  max-width: 100%;
}

.modal__politics {
  margin-top: 15px;
  font-size: 12px;
  line-height: 16px;
  color: #8b8b8b;
  text-align: center;
}

.modal__politics a {
  text-decoration: underline;
  transition: color .3s;
}

.modal.active {
  display: flex;
  align-items: center;
}

.modal.active .modal-container {
  animation: zoom .3s ease-in;
}

.modal-close {
  cursor: pointer;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  transform: none;
  transition: transform .3s;
}

.modal-close::before {
  content: "";
  width: 18px;
  height: 1px;
  background-color: #b7b7b7;
  position: absolute;
  left: -2px;
  top: 6px;
  transform: rotate(45deg);
  transition: background-color .3s;
}

.modal-close::after {
  content: "";
  width: 18px;
  height: 1px;
  background-color: #b7b7b7;
  position: absolute;
  left: -2px;
  top: 6px;
  transform: rotate(135deg);
  transition: background-color .3s;
}

/**************/
/* policy */
.policy {
  background: #fff;
  max-width: 940px;
  margin: 1em auto;
  border: 1px solid #ccc;
  padding: 1em 2%;
}

.policy h1 {
  color: #006dad;
  font-size: 40px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
  line-height: 48px;
}

.policy h2 {
  color: #444;
  font-size: 1.8em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  text-align: center;
}

.policy p {
  color: #333;
  padding: 0 0 0.5em;
  font: 1em Arial;
  line-height: 150%;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
